#aboutcard1
{
    background-image: url('../images/aboutus/top-2.png');
    background-size: cover;
    height: 30%;
}
#aboutbtn
{
    font-size: 10px;
}

#aboutcard2
{
    background-color: white;
    color: black;
}

#aboutcard3
{
    background-image: url('../images//aboutus/2.png');
    color: whitesmoke;
}

#aboutcard4
{
    background-color: white;
    color: black;
}

#aboutcard5
{
    background-image: url('../images//aboutus/4.png');
    background-size: cover;
    color: white;
}