#card1
{
    background-image: url('../images/home/top.png');
    background-size: cover;
    height: 36%;
}
#homeh3
{   
    color: white;
    position: absolute;
    right: 0;
    margin-top: 2vh;
    margin-right: 3px;
    text-align: left;
}
#same
{
    text-align: left;
    color: white;
}

#slide
{
    width: 100%;
}

#homebutton
{
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin-top: 17vh;
    margin-right: 82px;
    text-align: left;
}
#homephone
{
    position: absolute;
    left: 0;
}
/* --------------------- */
#fh6
{
    text-align: left;
}


/* for downloadss*/

#playicon
{
    font-size: 15px;
}

#appleicon
{
    font-size: 15px;
}

#dbtnid
{
    border-radius: 5px;
    width: 100%;
}

